#body {
    max-width: 500px;
    margin: 0 auto;
}
h1 {
    background-color: #FCFF5B;
    text-align:center;
    border-radius: 5px;
    padding: 8px;
    color: white;
}
footer {
    background-color: #FFAAA1;
    text-align: center;
    margin: 0 auto;
}
h2 {
    text-decoration: underline;
}
main a :hover {
    background-color: #FCFF5B;
}