$body-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$primarycolor: salmon;
$secondarycolor: purple;
$lightgray: #d0d0d0;
$darkgray: #444; /*can also say darken($lightgray, 40);*/
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;
$width: 800px;
$base-font-size:3em;