body {
    background-color: lightgray;
}
section {
    width: 275px;
    background-color: #B9B9CC;
    border: 2px solid #9F9FBF;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
h1, h2 {
    font-size: 30px;
    text-align: center;
    color: #5B5B9E;
    font-family: 'Bree Serif', serif;
}
h1 {
    font-size: 45px;
}

p {
    font-family: 'Roboto', sans-serif;
}
img {
    width: 200px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px gray;
}

.cards {
    display: grid;
    grid-template-columns: auto;
}

@media only screen and (min-width: 34.5em){
    .cards {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 54.5em){
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    body{
        background-color: lightgray;
    }
}