// $font-family: 'Poppins', sans-serif;
// $para-font-family: 'Bitter', serif;
$background-color: white;
$header-color: #88AA99;
$main-color: #6B9080;
$third-color: #EAF4F4;
$fourth-color: rgba(204, 227, 222, 75%);
$fifth-color: #A4C3B2;