body {
    font-family: 'Noto Serif JP', serif;
    background-color: #3A5127;
}
 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans SC', sans-serif;
    color: #F7F7F7;
}
p {
    color: #F7F7F7;
}

/*Header*/
header {
    display: grid;
    grid-template-columns: 120px auto;
    background-color: #143109;
    color: #F7F7F7;
}
#logo {
    width: 100px;
    padding: 10px;
}

/*Header navigation*/
/* ul {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 15px;
    color: #3D3D3D;
    text-align: left;
    padding: 0px;
    padding-left: 0px;
    margin: 0;
}
nav {
    margin: 0 auto;
    max-width: 360px;
    background-color: #EEF3E6;
    font-family: 'Lato', sans-serif;
    color: #637B8C;
} */
#navbar li:first-child {
    display: block;
} 
#navbar li {
    display: none;
}
#navbar a {
    display: block;
    text-decoration: none;
    color: #143109;
    padding:10px;
}
#navbar a.active {
    background-color: #143109;
    color: white;
    /* border-bottom: 5px solid white;  */
}
#navbar a:hover, #navbar a.active:hover {
    color: white;
    background-color: #143109;
}
/* #navbar a.hover {
    background-color:#143109;
    color: white;
    /* border-bottom: 5px solid black; */
/* } */ 

/* ham button */
.ham {
    margin: 0 auto;
    padding-top: 30px;
    grid-column: 3/4;
    grid-row: 1/3;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    align-self: center;
}
a {
    background-color: transparent;
}
#navigation.responsive li {
    display: block;
}

/* footer */
footer{
    background-color: #143109;
    color: #F7F7F7;
    margin: 0 auto;
    padding: 10px;
}

/* temple body */
#temples section{
    background-color: #3A5127;
    color: #F7F7F7;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 1fr;
    gap: 10px;
}
.temples section{
    background-color:white;
    padding: 10px;
    width: 1fr;
}
.temples section #name{
    grid-column: 1/3;
}
#temples section #info{
    font-size: 12px;
}
.temples img {
    width: 100%;
    grid-column: 1/3;
}


/* form info */
form {
    color: #F7F7F7;
    width: 100%;
}
fieldset{
    margin: 10px;
}
fieldset h2, label, input, select, textarea, p {
    margin: 10px;
    padding-bottom: 10px;
    width: 95%;
    min-width: 50px;
}
fieldset input, select {
    margin-bottom: 20px;
    /* padding-bottom: 10px; */
}
fieldset p {
    padding-left: 10px;
}
fieldset button {
    margin: 10px;
    padding: 5px 20px 5px 20px;
}


/* contact form */
.cont {
    display: grid;
    grid-column: 1fr;
}
.cont iframe {
    margin-left: 10px;
    width: 95%;
    height: 95%;
    border: 10px;
}
#contact {
    width: 100%;
}


/* home page main */
.banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 200px;
    margin: 0;
    padding: 0;
    margin-top: -5px;
}
.banner a #ban {
    max-width: 1080px;
    justify-self: center;
}
.banner a {
    text-decoration: none;
    justify-self: center;
}
/* THIS IS BROKEN for the color hover state, but works for the link!*/
.banner a:hover {
    background-color: #3A5127;
} 
#ban{
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: #143109;
    margin: 0 auto;
    padding: 17px 20px 7px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 3px rgb(0 0 0 / 41%);
    width: 90%;
}
#ban h2, p {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
}
.homepage img {
    grid-column: 1/4;
    grid-row: 1/4;
    width: 98%;
    padding: 10px;
    z-index: -1;
}

#homemain {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}
.homemain #grid1 {
    grid-column: 1/2;
}
.homemain #grid2 {
    grid-column: 2/3;
}


/* subheader for missionary/weddings */
#subhead {
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    background-color: #8aa067;
    margin: 0 auto;
}
#reception {
    grid-column: 1/2;
    list-style-type: none;
    text-align: center;
}
#missionary {
    grid-column: 2/3;
    list-style-type: none;
    text-align: center;
}
#subhead li:first-child {
    display: block;
} 
#subhead a {
    display: block;
    text-decoration: none;
    color: #143109;
    padding:10px;
}
#subhead a.active {
    background-color: #143109;
    color: white;
    /* border-bottom: 5px solid white;  */
}
#subhead a:hover, #subhead a.active:hover {
    color: white;
    background-color: #143109;
}

/* receptions page */
.receptions{
    margin: 10px;
    /* display: grid; */
    grid-template-columns: 1fr;
    grid-template-rows: 140px 1fr 50px;
    column-gap: 50px;
}
.receptions a {
    color: white;
}
#wedservices {
    grid-column: 2/3;
}
#wedamen {
    grid-column: 3/4;
}
#wedheader {
    grid-column: 1/3;
}
#wedpic {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    margin: 10px;
    padding-top: 20px;
}
#moreinfo {
    grid-column: 1/2;
    margin: 10px;
    grid-row: 3/4;
}
#weather {
    background-color: #5F7044;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}
#weather section {
    background-color: #3A5127;
    display: block;
}
#weather .cards {
    background-color: black;
    grid-column: 1/2;
}
#weather .cards1 {
    grid-column: 2/3;
}

/*  missionary page */
.missionary {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 50px;
    padding: 10px;
}
.missionary img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
main li{
    color: white;
}

/* services page */
.services {
    margin:10px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 50px;
}
.services a {
    color: #F7F7F7;
}


/* Medium screen*/
@media only screen and (min-width: 34.5em){
    header .ham {
        display: none;
    }
    #homemain {
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    #navbar {
        background-color: #5F7044;
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto auto auto 40px;
        text-align: center;
        margin: 0;
    }
    nav header {
        display: grid;
    }
    nav{
        max-width: 100%;
        grid-column: 1/3;
    }
    #navbar li {
        display: block;
    }
    #navbar a {
        text-align: center;
    }
    #navbar li:first-child {
        display: none;
    }


    /* temple body */
    
    #temples section{
        background-color: #3A5127;
        color: #F7F7F7;
        grid-template-rows: 75px;
        gap: 10px;
        gap: 10px;
    }
    .temples section #name{
        grid-column: 1/3;
    }
    .temples section .info{
        grid-column: 1/3;
        margin: 0;
        padding: 0;
    }
    .temples section img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        grid-column: 1/3;
    }
    #temple section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .banner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 100px 10px ;
        margin: 0;
        padding: 0;
        margin-top: -5px;
    }
    #ban{
        grid-column: 1/4;
        grid-row: 3/4;
        background-color: #143109;
        margin: 0 auto;
        padding: 17px 20px 7px 20px;
        border-radius: 15px;
        box-shadow: 5px 5px 3px rgb(0 0 0 / 41%);
    }
    #ban h2, p {
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .homepage img {
        grid-column: 1/4;
        grid-row: 1/4;
        width: 98%;
        padding: 10px;
        z-index: -1;
    }

    /*missionary page */
    .missionary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        padding: 10px;
    }
    .missionary h2 {
        grid-column: 1/3;
    }

    /* contact form */
    .cont {
        display: grid;
        grid-column: 1fr 1fr;
    }

    /* receptions page */
    .receptions{
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 140px 1fr 50px;
        column-gap: 50px;
    }

    #weather {
        background-color: #5F7044;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* services page */
    .services {
        margin:10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }

    .cont iframe {
        grid-column: 2/3;
        margin: 10px;
        width: 95%;
        height: 95%;
        border: 10px;
    }
}

/*Big screen*/
@media only screen and (min-width: 54.5em){
    header .ham {
        display: none;
    }

    #navbar {
        background-color: #5F7044;
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto auto auto 40px;;
        text-align: center;
    }
    nav header {
        display: grid;
    }
    nav{
        max-width: 100%;
    }
    #navbar li {
        display: block;
    }
    #navbar a {
        text-align: center;
    }
    #navbar li:first-child {
        display: none;
    }

     /* temple body */
    .temples section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    #temple section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .banner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px 100px 30px;
        margin: 0;
        padding: 0;
        margin-top: -5px;
    }
    #ban{
        grid-column: 1/4;
        grid-row: 3/4;
        background-color: #143109;
        margin: 0 auto;
        padding: 17px 20px 7px 20px;
        border-radius: 15px;
        box-shadow: 5px 5px 3px rgb(0 0 0 / 41%);
    }
    #ban h2, p {
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .homepage img {
        grid-column: 1/4;
        grid-row: 1/4;
        width: 98%;
        padding: 10px;
        z-index: -1;
    }



    /*missionary page */
    .missionary {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
        padding: 10px;
    }
    .missionary h2 {
        grid-column: 1/4;
    }
}